html{
    background: #212226;
}

body {
    
    color: 	#808185;
    width: 65%;
    margin: auto;
    //border: solid 2px white;
   
    border-bottom: none;
}
#topBar{
    
    height: 80px;
    margin-top:40px;
    margin-bottom: 40px;
}
#header{
    display: inline-block;
    width: auto;
    margin-top: 0;
    float: left;
    font-size: 20px;
}

#Ticket{
    color:	#F1F2F6;
    display: inline-block;
}
#Dom{
    color: 	#B99C2E;
    display: inline-block;
}
#nav{
    width: auto;
    display: inline-block;
    height: auto;
    list-style-type: none;
    margin-top: 0;
    vertical-align: middle;
    text-align: right;
    float: right;
    margin-top: 20px;
    
}

#nav li{
    display: inline-block;
    background: #C0BDB5;
   margin-right: -3px;
    line-height: 50px;
    height: 50px;
    width: 90px;
    font-size: 17px;
    
    
    
}
#nav li:hover{
    background:#F8B218;
}
#nav li a.active{
    
    background:#F8B218;
}

#nav li:last-child{
    margin-right: 0;
}
#nav li a{
    color: #F1F2F6;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
}
#ticketphoto{
    height: 200px;
    width: 300px;
    margin: auto;
    text-align: center;
    float: left;
}
#hometext{
    
}
#section{
    margin-left: 30px;
    margin-right: 30px;
}
table.table{
    background-color:	#F1F2F6;
    text-align:center;
    margin-top: 30px;
    border: solid 2px #808185;
    border-bottom: none;
    
}
table.table tr{
    
    
    
}
table.table td, table.table th{
    padding: 10px;
    border-bottom: solid 2px #808185;
    
}
table.table th{
    text-decoration:underline;
}

#footer{
    background:#FFAB01;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #F1F2F6;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 65%;

}
