
@{
    ViewBag.Title = "Admin";
   
}


<h2>Admin Login</h2>
<p>Incorrect password entered</p>
<p>Enter admin password to access admin controlls</p>




@using (Html.BeginForm())
{

    <input type="text" name="password" />
    <input type="submit" />
}



